[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "insetplot"]
	path = insetplot
	url = https://github.com/fncokg/insetplot
[submodule "lingdist"]
	path = lingdist
	url = https://github.com/fncokg/lingdist
